
.DS_Store
application/cache/*
application/config/config.php
application/config/database.php
application/config/tank_auth.php
imagefix/*
captcha/*
nbproject/*
application/libraries/*
application/languages/*
system/*
application/language/*
application/third_party/*
application/config/email.php

application/config/mongodb.php

application/config/pagination.php

application/config/profiler.php

application/config/smileys.php

application/config/upload.php
assets/img/*
assets/font/*
application/config/aws.php
application/config/cloudfiles.php
application/config/fb.php
application/config/foreign_chars.php
application/config/mimes.php